body{ background-color: green;}

h1{color:   white; text-align: center ; font-weight: bold;}

nav {text-align: center;}

h2{ color: white}

.img7{ display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }

  p{font-size: 20px;}

.navigation-bar a{
        text-decoration: none;
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        font-size: 20px;
      }
a:hover{text-decoration: none; 
        color: black; }
    
a:active { text-decoration: none; 
                color: white}